@import "~bootstrap/dist/css/bootstrap.css";
@import "~@formio/js/dist/formio.full.min.css";

.nav-link a {
  color: inherit;
  text-decoration: none;
}

.formio-brand {
  font-size: 1rem;
  display: flex;
  align-items: center;
}

.formio-brand>* {
  margin-right: 5px;
}

.navbar-brand a {
  color: inherit;
  text-decoration: none;
}

.react-logo {
  color: #0a7ea3;
}

div.spacer {
  margin: 0.5rem 0;
  line-height: 0;
}

.firstname-container {
  display: flex;
}

.firstname-style {
  border: 1px solid #aaa;
}

.formio-component-prefix,
.formio-component-suffix,
.formio-component-widget\.type,
.formio-component-inputMask,
.formio-component-displayMask,
.formio-component-applyMaskOn,
.formio-component-allowMultipleMasks,
.formio-component-customClass,
.formio-component-tabindex,
.formio-component-autocomplete,
.formio-component-hidden,
.formio-component-showWordCount,
.formio-component-showCharCount,
.formio-component-mask,
.formio-component-autofocus,
.formio-component-spellcheck,
.formio-component-disabled,
.formio-component-tableView,
.formio-component-modalEdit
{
display: none;
}


.nav-link[href="#api"],
.nav-link[href="#conditional"],
.nav-link[href="#logic"],
.nav-link[href="#layout"] {
  display: none;
}

.formio-component-persistent,
.formio-component-inputFormat,
.formio-component-protected,
.formio-component-dbIndex,
.formio-component-redrawOn,
.formio-component-clearOnHide,
.formio-component-customDefaultValuePanel,
.formio-component-calculateValuePanel,
.formio-component-calculateServer,
.formio-component-allowCalculateOverride {
  display: none;
}

.formio-component-validate\.customMessage,
.formio-component-custom-validation-js,
.formio-component-json-validation-json, 
.formio-component-errors {
  display: none;
}


.custom-file-select, .browse {
  position: relative;
  display: inline-block;
}

.input-file {
  position: relative;
  top: 0;
  left: 0;
  width: 100px;
  height: 100%;
  opacity: 0;
  cursor: pointer;
  z-index: 999;
}

.browselink{
  position: relative;
  right: 100px;
  text-decoration: underline;
  color: #0a7ea3;
}

.custom-file-label {
  display: inline-block;
  padding: 8px 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  background-color: #f9f9f9;
  cursor: pointer;
}


.custom-file-label::after {
  content: 'Browse';
  font-size: 14px;
}

/* Style the label when a file is selected */
.custom-file-label::before {
  content: attr(data-text);
  display: inline-block;
  width: calc(100% - 70px); /* Adjust according to your design */
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}